services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile
    
    image: panameconsulting:latest
    
    ports:
      - "10000:10000"
    
    environment:
      - NODE_ENV=production
      - PORT=10000
      - TZ=Europe/Paris
    
    env_file:
      - .env
    
    restart: unless-stopped
    
    volumes:
      - ./uploads:/app/uploads
      - ./logs:/app/logs
      - node_modules:/app/node_modules

volumes:
  node_modules:
    driver: local