[build]
builder = "DOCKERFILE"
dockerfilePath = "backend/Dockerfile"

[deploy]
healthCheckPath = "https://panameconsulting.up.railway.app/health"
healthCheckTimeout = 5
restartPolicyType = "ON_FAILURE"

[variables]
NODE_ENV = "production"
PORT = "10000"
TZ = "Europe/Paris"
MONGODB_SERVER_SELECTION_TIMEOUT = "30000"
MONGODB_SOCKET_TIMEOUT = "45000"

# Configuration CORS pour Railway
[http]
allowedOrigins = ["https://panameconsulting.vercel.app"]
allowedMethods = ["GET", "POST", "PUT", "DELETE", "PATCH","UPDATE","OPTIONS"]
allowedHeaders = ["Content-Type", "Authorization"]