[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
healthCheckPath = "/health"
healthCheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[variables]
NODE_ENV = "production"
TZ = "Europe/Paris"
MONGODB_SERVER_SELECTION_TIMEOUT = "30000"
MONGODB_SOCKET_TIMEOUT = "45000"